
.showcase {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.showcase .genre-container {
    margin: 0;
    width: 100%;
    height: auto;
}
.showcase .photo-container {
    display: grid;
    grid-template-columns: repeat(6, 260px);
    grid-row-gap: 40px;
    grid-column-gap: 1px;
}
.showcase h3 {
    display: block;
    text-transform: uppercase;
    background-color: white;
    padding: 10px 10px;
}
.showcase .photo {
    background-color: white;
    border-radius: 2px;
    width: 80%;
    height: 100%;
    padding: 5px;
    justify-self: center;
}
.showcase .photo img {
    width: 100%;
    height: 250px;
    transition: .2s;
    cursor: pointer;
}
.showcase .photo img:hover {
    text-align: center;
    border-radius: 5px;
     transform: scale(1.06);
}
.showcase .photo .description-area {
    text-align: start;
}
.showcase .photo .description-area button {
    padding: 6px 8px;
    border: none;
    background-color: white;
    align-items: center;
    cursor: pointer;
}
.popup-message {
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    transition: 500ms, ease-in-out;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;

    /* animation */
    animation-name: modalopen;
    animation-duration: 0.5s;
}
.popup-message.live {
    display: flex;
}
.popup-message form {
    background-color: #838383;
    padding: 20px 30px;
    border-radius: 4px;
}
form input {
    width: 100%;
}
form .popup-form {
    display: block;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
}
form .form-subject {
    border-radius: 0px;
}
form .form-message {
    resize: none;
}
form .form-btn {
    margin-top: 15px;
    padding: 5px 10px;
}

@keyframes modalopen {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}